body
{
	font: 'Raleway',sans-serif;
	color: rgba(0,0,0,.5);
	text-transform: uppercase;
	letter-spacing: .7em;
	top: 25%;
	background: linear-gradient(to right,rgb(255,0,257),rgb(52,48,248));
}
h1
{
	font: 60 3.5em 'Raleway',sans-serif;
	color: rgba(0,0,0,.5);
	text-transform: uppercase;
	letter-spacing: .4em;
	width : 100%;
}
h3
{
	font: 900 1em 'Raleway',sans-serif;
	color: rgba(0,0,0,.5);
	text-transform: none;
	letter-spacing: .01em;
}